<template>
<div :class="{ 'is-faded': isInactive}">
  <div class="container">
  <h2 class="title">Music Player</h2>
  <div class="tabs is-toggle is-fullwidth" id="tabs">
  <ul>
    <li data-tab="1">
      <a>
        <span class="icon is-small"><i class="fa fa-image"></i></span>
        <span>Now Playing</span>
      </a>
    </li>
    <li data-tab="2">
      <a>
        <span class="icon is-small"><i class="fa fa-music"></i></span>
        <span>Add Music</span>
      </a>
    </li>
    <li data-tab="3">
      <a>
        <span class="icon is-small"><i class="fa fa-film"></i></span>
        <span>Playlists</span>
      </a>
    </li>
    <li class="is-active" data-tab="4">
      <a>
        <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
        <span>Library</span>
      </a>
    </li>
  </ul>
</div>
<div id="tab-content">
  <p data-content="1">
        <NowPlaying></NowPlaying>
  </p>
  <p data-content="2">
    <AddMusic></AddMusic>
  </p>
  <p data-content="3">
    <Playlists></Playlists>
  </p>
  <p class="is-active" data-content="4">
    <Library></Library>
  </p>
</div>

</div>
</div>


</template>

<script>
import NowPlaying from '../components/NowPlaying'
import AddMusic from '../components/AddMusic'
import Playlists from '../components/Playlists'
import Library from '../components/Library'
import {INACTIVE_USER_TIME_THRESHOLD, USER_ACTIVITY_THROTTLER_TIME} from '../general'; 

export default {
    data() {
      return {
        isInactive: false,
        userActivityThrottlerTimeout: null,
        userActivityTimeout: null
      }
    },
    name: "MainPage",
    components: {
        'NowPlaying': NowPlaying,
        'AddMusic'  : AddMusic,
        'Playlists' : Playlists,
        'Library'   : Library,
    },
    methods: { 
      //the following methods are what is used to track if the user is interacting or not
      //Dim the screen when idle after 30 seconds
      activateActivityTracker() {
        window.addEventListener("mousemove", this.userActivityThrottler);
        window.addEventListener("scroll", this.userActivityThrottler);
        window.addEventListener("keydown", this.userActivityThrottler);
        window.addEventListener("resize", this.userActivityThrottler);
      },
      deactivateActivityTracker() {
        window.removeEventListener("mousemove", this.userActivityThrottler);
        window.removeEventListener("scroll", this.userActivityThrottler);
        window.removeEventListener("keydown", this.userActivityThrottler);
        window.removeEventListener("resize", this.userActivityThrottler);
      },
      resetUserActivityTimeout() {
        clearTimeout(this.userActivityTimeout);

        this.userActivityTimeout = setTimeout(() => {
        this.userActivityThrottler();
        this.inactiveUserAction();
      }, INACTIVE_USER_TIME_THRESHOLD);
    },
    userActivityThrottler() {
      if (this.isInactive) {
        this.isInactive = false;
      }

      if (!this.userActivityThrottlerTimeout) {
        this.userActivityThrottlerTimeout = setTimeout(() => {
          this.resetUserActivityTimeout();
          clearTimeout(this.userActivityThrottlerTimeout);
          this.userActivityThrottlerTimeout = null;
        }, USER_ACTIVITY_THROTTLER_TIME);
      }
    },
    inactiveUserAction() {
      this.isInactive = true;
    }
  },
   beforeMount() {
    this.activateActivityTracker();
  },

  beforeDestroy() {
    this.deactivateActivityTracker();
    clearTimeout(this.userActivityTimeout);
    clearTimeout(this.userActivityThrottlerTimeout);
  }
}
</script>

<style scoped>
    #tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}

.content {
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-faded {
  opacity: 0.5;
  background-color:#000;
  transition: opacity 500ms ease-in-out;
}
</style>