<template>
    <div class="container">
        <h1 class="title">Add Music</h1>
        <h1 class="subtitle">To add music please click on the 'Add a Track' button. Then click on 'Save Track'</h1>
        <form>
              <div id="file-js-example" class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" name="audio" @change="fileUpload" accept=".mp3" ref="file" multiple="multiple">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Add A Track
                            </span>
                        </span>
                        <span class="file-name" id="audioText" >
                            No file uploaded
                        </span>
                </label>
                <button type="submit" class="btn btn-primary" @click="handleSubmit">
                    Save Track
                </button>
                </div>
        </form>
        <span id="message"></span>
    </div>
</template>

<script>
export default {
   name: "AddMusic",
   data() {
       return {
            file: ''
       }
   },
   watch: {
       
   },
   methods: {
       fileUpload(e){ //display the name of the file to the user
           const fileInput = document.querySelector('#file-js-example input[type=file]');
           if (fileInput.files.length > 0) {
                const fileName = document.querySelector('#file-js-example .file-name');
                fileName.textContent = fileInput.files[0].name;
                this.file = e.target.files[0];
       
            }
       },
       handleSubmit(e) { //send the file via thr API
                e.preventDefault();
                let currentObj = this;
   
                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                }
    
                let formData = new FormData();
                formData.append('audio', this.file);
   
                axios.post('/api/addMusic', formData, config) //send file to be uploaded and stored
                .then(function (response) {
                    currentObj.success = response.data;
                    console.log(response);
                   
                     setTimeout(function(){
                        document.getElementById('message').innerHTML = "";

                     }, 10000);
                    document.getElementById('message').innerHTML = response.data.message;


                })
                .catch(function (error) {
                    currentObj.output = error;
                    console.log(error);
                });
            }
       
   }
}
</script>

<style scoped>
#audioText{
    max-width: unset;
    width:30em !important;
}
</style>