<template>
    <div class="container">
        <h1 class="title"> Library</h1>

        <section class="section" id="userInteraction">
            <button @click="playTracks()" id="libPlay" >Play</button>
            <input type="text" placeholder="search for track" name="track_name" id="track_name" v-model="keywords" required >
            <input type="text" placeholder="search for artist" name="artist_name" id="artist_name" v-model="Artkeywords" required >
            <button @click="clearForms()" >Clear Search</button>
            <button @click="shuffleOrder()" >Shuffle</button>
        </section>

        <section class="section" style="width: 75%" id="libraryTable">
            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <th v-column-sortable:track_name>Track Name</th>
                    <th>Artist</th>
                    <th v-column-sortable:album_name>Album</th>
                    <th>Running Time</th>
                </thead>
                <tbody> 
                    <tr v-for="(track) in libraryData">
                        <td>{{track.track_name}}</td>
                        <td>{{track.artist_name}}</td>
                        <td>{{track.album_name}}</td>
                        <td>{{track.running_time}}</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </div>
</template>

<script>
export default {
   name: "Library",
   data(){
            return {
                keywords: null,
                Artkeywords: null,
                libraryData: []
            }
        },
    mounted(){ //on load, get all the existing tracs from the database
        axios.get('/api/library')
            .then(response => {
              this.libraryData = response.data.tracks;
              this.$musicFileList = response.data.tracks;
              console.log( this.$musicFileList)
            })
            .catch(error => {
                console.error(error);
            })

    },
     watch: {
        keywords(after, before) {
            this.searchForTrack();
        },
        Artkeywords(after, before) {
            this.searchForArtist();
        }
    },
    methods: {
         searchForTrack(){
             axios.get('/api/searchtrack', {params: {track_name: this.keywords}})
            .then(response => {
              this.libraryData = response.data.tracks;
              console.log("called get tracks")
            })
            .catch(error => {
                console.error(error);
            })
        },
        searchForArtist(){
             axios.get('/api/searchartist', {params: {artist_name: this.Artkeywords}})
            .then(response => {
              this.libraryData = response.data.tracks;
              console.log("called get trartistacks")
            })
            .catch(error => {
                console.error(error);
            })
        },
        clearForms(){
            this.keywords = null
            this.Artkeywords = null
        },
        playTracks(){
            this.$musicFileList = this.libraryData 
            this.$root.$emit('playMusic',this.libraryData)
        },
        shuffleOrder(){
            this.libraryData.sort(function(){
                return 0.5 - Math.random()
            }); 
            this.playTracks()
        },
        orderBy(sortFn) {
            this.libraryData.sort(sortFn);
      }
    }
}
</script>

<style scoped>
#userInteraction, #libraryTable{
    position: relative;
}

#libraryTable{
    left: 10%;
}

#userInteraction{
    left: 25%;
}
</style>