<template>
    <section class="section">
  <div class="container nowPlaying">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Now Playing</h1>
        <span class="tag is-light" id="track"></span> <span class="tag is-light"></span>-<span class="tag is-light" id="artist"></span><span class="tag is-light">-</span><span class="tag is-light" id="album"></span>
        <section class="section">

            <audio controls  style=" width:750px;" id="audioPlayer" @ended="playNextSong()">
	            <source type="audio/mpeg" id="audioSource" src="" >
	                Your browser does not support the audio element.
            </audio><br />
        </section>
        <section class="section">
            <div class="columns is-centered">
				<div class="column is-4">
					<button class="button" @click="playPrevSong()">Previous</button>
				</div>
				<div class="column is-4">
					<button class="button" @click="changePlayState()" id="playpausebtn">Play</button>
				</div>
				<div class="column is-4">
					<button class="button" @click="playNextSong()">Next</button>
				</div>
			</div>
        </section>

      </div>
    </div>
  </div>
</section>
</template>

<script>
export default {
   name: "NowPlaying",
   data(){
       return{
          currentFile: null,
          sourceAry: null,
          sourcePath: 'app/public/files/audio/',
          fileInd: 0,
          audioFiles: null
       }

      
       
   },
   watch: {
       
   },
   mounted() {
       this.$root.$on('playMusic', (filesList) => {

           //this.preLoadSongs(filesList);
          var audio = document.getElementById('audioPlayer');
            this.sourceAry = [filesList.length];
          var nextSong  = 0;
        this.fileInd = 0;
          for(var i = 0; i < filesList.length; i++){
              this.sourceAry[i] = filesList[i].track_file_name;
          }
          this.audioFiles = filesList;          
         var source = this.sourcePath + this.sourceAry[nextSong];
            this.displayCurrentDetails();
           audioSource.src = source;
           audio.load();
           audio.play();
           setTimeout(function(){
            }, 2000);
            this.updatePlayButton();

            this.fileInd++;

        })
        

    },
    methods: {
        preLoadSongs(trackAry){
            var audio = document.getElementById('audioPlayer');
            this.sourceAry = [trackAry.length];
          var nextSong  = 0;
          this.fileInd = 0;
          for(var i = 0; i < trackAry.length; i++){
              this.sourceAry[i] = trackAry[i].track_file_name;
          }
          this.audioFiles = trackAry;          
         var source = this.sourcePath + this.sourceAry[nextSong];
            this.displayCurrentDetails();
           audioSource.src = source;
           audio.load();
        //   audio.play();
           setTimeout(function(){
            }, 2000);
       //     this.updatePlayButton();

            this.fileInd++;

        },
        playNextSong(){
            var audio = document.getElementById('audioPlayer');
            var source = this.sourcePath + this.sourceAry[this.fileInd];

            audioSource.src = source;
            audio.load();
            audio.play();
            
            this.updatePlayButton();
            this.displayCurrentDetails();
            this.fileInd++;
        },
        playPrevSong(){
            var audio = document.getElementById('audioPlayer');

            if(this.fileInd > 0){    
                var source = this.sourcePath + this.sourceAry[--this.fileInd];
            }else{
                 var source = this.sourcePath + this.sourceAry[this.fileInd];
            }
            this.displayCurrentDetails();
            audioSource.src = source;
            audio.load();
            audio.play();
            this.updatePlayButton();

        },
        displayCurrentDetails(){
             var track = document.getElementById('track');
             var artist = document.getElementById('artist');
             var album = document.getElementById('album');

             document.getElementById('track').innerHTML = this.audioFiles[this.fileInd].track_name;
             document.getElementById('artist').innerHTML = this.audioFiles[this.fileInd].artist_name;
             document.getElementById('album').innerHTML = this.audioFiles[this.fileInd].album_name;
        },
        changePlayState(){
            var audio = document.getElementById('audioPlayer');
            var playState = document.getElementById('playpausebtn');
            if(audio.paused){
                audio.play();
                playState.innerHTML = "Pause";
            }else{
                playState.innerHTML = "Play";
                audio.pause();
            }
        },
        updatePlayButton(){
             var audio = document.getElementById('audioPlayer');
            var playState = document.getElementById('playpausebtn');
             if(audio.paused){
                playState.innerHTML = "Play";
            }else{
                playState.innerHTML = "Pause";
            }
        }

    }
}
</script>

<style scoped>

button{
    width: 170px;
}
.nowPlaying{
    display: block;
}
#audioPlayer{
    margin-left: -105px;
}
#track, #artist, #album{
    font-size: 20px;
}
#track{
    margin-left: 90px;
    margin-top: 10px;
}
</style>